:root {
	--header-bg-color: rgb(148, 58, 77);
	--main-bg-color: rgb(138, 181, 186);

	--header-typeface-fill-color: rgb(234, 219, 192);
	--header-typeface-stroke-color: rgb(234, 219, 192);

	--sw-header-typeface-fill-color: rgb(196, 211, 155);
	--sw-header-typeface-stroke-color: rgb(196, 211, 155);
	
	--panel-color: rgb(104, 68, 60);
	--panel-bg: rgb(196, 211, 155);
	
	--link-color: pink;
}



body {
		background: var(--main-bg-color) !important;
		/*font-family: 'Roboto', sans-serif;font-weight: 300;*/
		font-size: 16px;
}

a {
	color: var(--link-color)
}
.svg-header-bg {
	fill:none;
}

.header-typeface {
	fill: var(--header-typeface-fill-color);
	stroke: var(--header-typeface-stroke-color);
}

.schlosswochen-header-typeface {
	fill: var(--sw-header-typeface-fill-color);
	stroke: var(--sw-header-typeface-stroke-color);
}
#headerImage {
	padding-top: 15px;
	padding-bottom: 15px;
}

.mainImage {
		max-height:100%;
		border-bottom: 0px dotted var(--header-bg-color);
		display: block;
		margin: 0 auto;
}

.sponsor {
	background: var(--panel-bg);
	display: block;
	margin: 0 auto;
	height: 300px;
}

/* Mobiles 2016 */
@media (min-width: 544px) {
	.mainImage {
			max-height:252px;
	}
}

/* Kleine Geräte (Tablets, 768px und breiter) */
@media (min-width: 767px) {
	.mainImage {
			max-height:377px;
	}
}

/* Mittlere Geräte (Desktop-PCs, 992px und breiter) */
@media (min-width: 992px) {
	.mainImage {
			max-height:501px;
	}
}

/* Große Geräte (Desktop-PCs, 1200px und breiter) */
@media (min-width: 1080px) {
	.mainImage {
			max-height:619px;
	}
}

.nonBoarder{
	border-bottom: none;
}

.container-fluid {
  /*  background-color: var(--header-bg-color); */
}
.carousel-control {
    color: var(--panel-color)!important;
    /*text-align: center;*/
		text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 5px black;
    opacity: 1;
}
.carousel-inner {
    opacity: .8;
}
.carousel-caption {
    color: var(--panel-color);
    text-shadow: 0 1px 0px white;
}

.imageCd{
	opacity: 1.0;
	display: block;
	height: auto;
}
.thumbnail{
  background-color: var(--main-bg-color);
  border-width: 0px;
}
.thumbnail a>img, .thumbnail>img {
  max-width: 200px;
  min-width: 200px;
}
.thumbnail .caption {
    padding: 0px;
    color: #333;
    text-align: center;
}
.bio{
	text-align: left;
}

.carousel-indicators li {
    border: 1px solid var(--panel-color);
}
.carousel-indicators .active {
    background-color: var(--panel-color);
}

.h2Title {
	margin-left: 15px;
}