	footer {
		width: 100%;
		height: 100px;
		/*background: #A093B1; */
		position: fixed;
		bottom: 0;
	}

	.copyright{
			font-size: smaller;
			font-style: italic;
			text-align: center;
			height: 20px;
	}
	.newsticker {
	  background: #A093B1;
	  border-radius: 5px;
	  cursor: default;
	  line-height: 15.6px;
	  padding: 0;
	  height: 80px;
	  position: relative;
	  overflow: hidden;
	  margin:0;
	  text-align: center;
	}

	.newsticker-list {
	    margin-left: -20px;
	}

	.newsticker .newsticker-list .newsticker-item {
	  padding-top: 10px;
	  height: 80px;
	  overflow: hidden;
	  /*white-space: nowrap;*/
	}

	.newsticker-item {
	    width: 100%;
	    list-style: none;
	}

	.newsticker-item li {
	    margin-bottom: 9px;
	}

	.newsticker-item a {
	    display: inline-block;
	    position: relative;
	    /*padding-left: 10px; */
	    vertical-align: middle;
	    color: #BE0A26;
	}

	.newsticker-item a i {
	    position: absolute;
	    left: 0;
	}
